

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 61px 151px;
    padding: 50px 1191px 50 px 150px;
}

.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}
/* button style */
.btn-primary{

    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border:none
}
.btn-primary:hover{
    background-color: #7d7d86;
    cursor: pointer;
}
#btn-cen{
    text-align: center;
}
/* banner style */
.banner-description{
    font-size: 65px;
    font-weight: bold;
    margin: 97px 127px  85px;
    text-align: center;
} 
/* banner button */
.header{
    background-image: url(../Assets/Hero-bg.png);
    padding: 0px 0px 200px 0px;
    margin: 0px;
}
/* action style */
.action{
    display: flex;
    margin: 115px 159px 0px 141px;
    justify-content: space-between;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-sub-tital{
    max-width: 517px;
}
.action-sub-tital{
    font-size: 24px;
    color: #7d7d86;
}
.action-pic{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.text-center{
    text-align: center;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* productive */
main section{
    margin-top: 125px;
}
.productive{
    background-color: #9592f1d2 ;
    border-radius: 24px;
    padding: 50px 142px;
}
.productive-contant{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.items{
    display: flex;
    justify-content: space-around;
}
.item{
    width: 162px;
    font-size:80px ;
    color: #4E47FF;
    height: 97px;  
}
.item-description{
    font-size: 20px;
    width: 120px;
    height: 24px;
    color: rgba(0, 0, 0, 0.5);
}
/* user say */
.star{
    display: flex;
    width: 16.67px;
    height: 15.85px;
    justify-items: center;
    
}
.reviw-container{
    display: flex;
    gap: 20px;
    padding: 105px 24px 94px;
}
.rivews{
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.avter-container{
    display: flex;
    padding: 24px;
}
/* better */
.better{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding: 71px 150px; */
    box-shadow: 0px 4px 4px 0px;color: rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.ber-button{
    margin: 20px 146px;
}
.better-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight:487px ;
    
}
.better-titel{
    font-size: 50px;
    font-weight: bold;
}
.better-pic{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
}
.secondary-bg{
    margin: 96.23px 138px ;
    display: flex;
    gap: 115px;
}
.section-colomn{
    width: 50%;
}
.box-set input[type="text"], input[type="email"], textarea{
    height: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    width: 100%;
    padding: 20px 217px 20px 32px;
    margin: 51px;
     border: 1px;
     box-shadow: 0px 4px 4px 0px ;
    
}
.box-tital{
    font-size: 97px;
    font-weight: bold;
}
footer{
    
    padding: 1
}
.logo-font{
    max-width: 50%;
}